.logoD {
    background-image: url('https://ik.imagekit.io/hfut635vd/images/grayBg.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1675833173329');
    mix-blend-mode: darken;
    padding: 3vmax 15vmax;
}

.logo_grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vmax;
    padding: 3vmax 0;
}

.logo_grid>img {
    width: 22%;
}