.navbar {
    background-image: url('https://ik.imagekit.io/hfut635vd/images/grayBg.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1675833173329');
    mix-blend-mode: darken;
    padding: 2vmax 15vmax;
    display: flex;
    justify-content: space-between;
    gap: 2vmax;
}

.sudoLogo {
    background-image: url('../../assets/icons/mainLogo.svg');
    background-repeat: no-repeat;
    width: 5vmax;
    height: 3.3vmax;
    background-size: cover;
    background-position: center;
}

.sudoLogo:hover {
    cursor: pointer;
    background-image: url('../../assets/icons/mainLogoHover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.not-mobile {
    display: flex;
    gap: 2vmax;
}

.mobile-toggle {
    display: none;
}

.nav-item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1vmax;
    text-transform: uppercase;
    color: #685648;
}

.nav-item-active {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1vmax;
    text-transform: uppercase;
    color: #F0B18E;
}

.nav-item:hover {
    cursor: pointer;
    font-weight: 800;
    color: #F0B18E;
}