.sketching {
    background-image: url('https://ik.imagekit.io/hfut635vd/images/grayBg.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1675833173329');
    mix-blend-mode: darken;
    padding: 3vmax 15vmax;
}

.sketch_tile {
    display: flex;
    justify-content: space-between;
    gap: 2vmax;
    align-items: flex-start;
}

.sketch_tiles {
    display: flex;
    gap: 2vmax;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2vmax;
}

.sketch_tile_right>img {
    width: 100%;
}