.works {
    background: url('https://ik.imagekit.io/hfut635vd/images/grayBg.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1675833173329'), rgba(218, 208, 198, 0.4);
    mix-blend-mode: multiply;
    box-shadow: inset 0px 4px 22px rgba(0, 0, 0, 0.25);
    padding: 3vmax 15vmax;
}

.work_tile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
}

.work_tile_img {
    width: 100%;
}